.TodoList {
  width: 600px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
  border: 1px solid black;
  margin-left: 20px;
}

.TodoList__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
  color:black;
}

.TodoList__item__completed {
  text-decoration: line-through; 
  color: #888888; 
  background-color: #f0f0f0; 
  transition: all 0.3s ease-in-out; 
  opacity: 0.7; 
}
